/*
    Document   : unitsYear2/5-speechSynthesis/app/styles/main．css
    Created on : 2014-08-11 04:22 AM
    Author     : efuquen
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}